body {
    margin: 0;
}

.page {
    min-height: 100vh;
    background: linear-gradient(135deg, #020617, #0f172a);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

.content {
    margin: 120px 0 120px 0;
    flex: 1;
    display: flex;
    justify-content: center;
}

.allGames {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    max-width: 1500px;
    margin: 0 auto;
    gap: 28px;
    padding: 40px 20px;
    justify-items: center;
}